<app-header></app-header>

<div class="announcements-section">
  <div class="announcements-header">
    <h2>Announcements</h2>
    <button class="expand-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path d="M7 10l5 5 5-5z" />
      </svg>
    </button>
  </div>
  <div class="announcements-content">
    <p>1. Dear Customers, please be informed that the paymentPortal&#64;SGCourts™ will undergo a scheduled maintenance
      from <strong>5 Mar 2023 10:30pm</strong> to <strong>6 Mar 2023 2:30am</strong>. During the maintenance period, all
      online payment options will not be available. We apologise for any inconvenience caused.</p>
    <p>2. <strong>[Scam Advisory]</strong> Beware of emails/calls/SMSes falsely claiming to be from SGCourts, requesting
      for your personal or financial information. SG Courts will never send you any automated SMS / emails / calls with
      links requesting for your personal or financial information. If you receive any email/call purporting to be from
      SGCourts requesting for your personal or financial information, you should verify the authenticity of such
      instructions by calling SGCourts at <strong>1800 999 9999</strong> or emailing <strong>report-scam&#64;judiciary.gov.sg</strong>
      before you respond.</p>
    <p>Thank you.</p>
  </div>
</div>

<div class="court-blocks">
  <div routerLink="/court-payment" class="court-block">
    <h2>Court Payments</h2>
  </div>
  <div routerLink="/court-deposits"  class="court-block">
    <h2>Court Deposits</h2>
  </div>
</div>

<footer class="jds-footer">
  <div class="container">
    <div class="top-section sitemap">
      <h3 class="jds-footer-sitemap-header text-left">SOUTH AFRICA COURTS</h3>
      <div class="col-lg-9">
        <div class="footer-links"><a href="https://tech.gov.sg/report_vulnerability" target="_blank">About
        </a> <a href="#">Notices</a> <a href="#">FAQs
        </a> <a href="https://www.reach.gov.sg/" target="_blank">Contact us</a></div>
      </div>
    </div>
    <hr class="divider">
    <div class="bottom-section">
      <div class="row">
        <div class="col-lg-9 ">
          <div class="footer-links"><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report
            Vulnerability <i class="fal fa-external-link ml-1"></i></a> <a href="#">Privacy Statement</a> <a href="#">Terms
            of Use</a> <a href="https://www.reach.gov.sg/" target="_blank">Reach.gov.sg <i
            class="fal fa-external-link ml-1"></i></a></div>
          <div class="powered-by mt-3">Powered by <img src="images/cl-logo.png" alt=""></div>
        </div>
        <div class="col-lg-3 mobile-mt-3 copyright text-right">
          <div>© 2025 Government of South Africa</div>
          <div> Last updated: 30 March 2025</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End of Footer Block -->
