<div class="container">
  <h2 class="title">Court Payments</h2>

  <div class="form-group">
    <label class="col-form-label">Pac Number</label>
    <input class="form-control" type="text">
    <small class="form-text text-muted">Please enter PAC number</small></div>
  <div class="form-group">
    <label class="col-form-label">ID</label>
    <input class="form-control" id="email" name="email" type="email" aria-describedby="email" autocomplete="email"
           spellcheck="false">
    <small class="form-text text-muted">Please enter ID</small>
  </div>


  <div class="d-flex flex-column my-2">
    <button type="button" class="btn btn-primary my-1">Retrieve Outstanding Payments</button>
    <button type="button" class="btn btn-primary my-1" routerLink="..">Home<i class="fal fa-home icon"></i>

    </button>
  </div>
</div>
